@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root{
    --cor-de-fundo:  #0C0C0C;
    --texto-principal: #9B3922;
    --texto-segundario: #F2613F;
}